<!DOCTYPE html>
{% load static from staticfiles %}
<html>

<head>
    <title>David Jung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>David Jung</title>
</head>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <ul class="w3-navbar" id="myNavbar">
        <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
            <a class="w3-hover-black" href="javascript:void(0);" onclick="toggleFunction()"
               title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li class="w3-left-align"><a href="/#home">HOME</a></li>
        <li class="w3-hide-small"><a href="/#about"><i class="fa fa-user"></i> ABOUT</a></li>
        <li class="w3-hide-small"><a href="/#experience"><i class="fa fa-th"></i> PORTFOLIO</a></li>
        <li class="w3-hide-small"><a href="/blog/"><i class="fa fa-play"></i> BLOG</a></li>
        <li class="w3-hide-small"><a href="/demos/"><i class="fa fa-play"></i> DEMOS</a></li>
        <li class="w3-hide-small"><a href="/#contact"><i class="fa fa-envelope"></i> CONTACT</a></li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
        <ul class="w3-navbar w3-left-align w3-white">
            <li><a href="#about" onclick="toggleFunction()">ABOUT</a></li>
            <li><a href="#portfolio" onclick="toggleFunction()">PORTFOLIO</a></li>
            <li><a href="#contact" onclick="toggleFunction()">CONTACT</a></li>
        </ul>
    </div>
</div>

<body>
    {% block content %}

    {% endblock %}
</body>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i
            class="fa fa-arrow-up w3-margin-right"></i>To
        the top</a>
</footer>
</html>